/**
 * @author felixrowen
 * @email felixroo@gmail.com
 * @create date 2019-10-06 14:54:45
 */

.grid__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr 0.5fr 0.5fr;
  grid-template-areas: 
    ". one one one one two two two two ."
    ". one one one one two two two two ."
    ". one one one one three three four four ."
    ". one one one one three three four four ."
    ". five five seven seven seven eight eight eight ."
    ". six six seven seven seven eight eight eight ."
    ". six six seven seven seven nine nine nine.";
  grid-gap: 10px;
}

.grid__wrapper > div {
  width: 100%;
  min-height: 100px;  
  background-color: grey;
}

.grid__wrapper > div:nth-child(1){ grid-area: one; }
.grid__wrapper > div:nth-child(2){ grid-area: two; }
.grid__wrapper > div:nth-child(3){ grid-area: three; }
.grid__wrapper > div:nth-child(4){ grid-area: four; }
.grid__wrapper > div:nth-child(5){ grid-area: five; }
.grid__wrapper > div:nth-child(6){ grid-area: six; }
.grid__wrapper > div:nth-child(7){ grid-area: seven; }
.grid__wrapper > div:nth-child(8){ grid-area: eight; }
.grid__wrapper > div:nth-child(9){ grid-area: nine; }

@media (max-width: 600px) {
  .grid__wrapper {
    grid-template-columns: 1fr 200px 200px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
      ". one two ."
      ". three three ."
      ". four five ."
      ". six six ."
      ". seven eight ."
      ". nine nine .";
  }
}